body {

    font-family: Arial, sans-serif;
}


h1 {
    color: #566f77;
    text-align: center;
}
  
  button {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9bbf9e;
    color: #fff;
    cursor: pointer;
  }
  
  button:first-of-type {
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #8aac8c;
  }
  